In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset using merge left join.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
# District Summary
#Perform the necessary calculations and list the following:
#Total number of unique schools
#total students
#Total budget
#Average math score
#Average reading score
# % passing math (the % of students who passed math)
# % passing reading (the % of students who passed reading)
# % overall passing (The % of students who passed both math and reading)
#Then create a high-level snapshot of the district's ket metrics in a data frame.

In [3]:
# Calculate the total number of unique schools, I am going to use the length of an object, as it can return the number of items in a list.
unique_total_school_count = len(school_data_complete["School ID"].unique())
unique_total_school_count

15

In [4]:
# Calculate the total number of students
total_number_student = len(school_data_complete["Student ID"].unique())
total_number_student

39170

In [5]:
# Calculate the total budget
total_budget = school_data_complete["budget"].astype(int)
total_budget = school_data_complete["budget"].unique()

total = sum(total_budget)

In [6]:
# Calculate the average math score
averagescore_math = student_data["math_score"].mean()
averagescore_math

78.98537145774827

In [7]:
# Calculate the average reading score
averagescore_reading = student_data["reading_score"].mean()
averagescore_reading

81.87784018381414

In [8]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
# Make a varaible that gives us the passing math scores (>=70) then multiple that by 100 to give us %
passing_math = student_data[student_data["math_score"] >= 70].count() ["Student ID"]
passing_math
percentpassing_math = (passing_math/total_number_student)*100
percentpassing_math

74.9808526933878

In [9]:
# Calculate the percentage of students who passed reading (reading scores greater than or equal to 70)
# Same thing you did for the math scores
passing_read = student_data[student_data["reading_score"] >= 70].count() ["Student ID"]
passing_read
percentpassing_read = (passing_read/total_number_student)*100
percentpassing_read

85.80546336482001

In [10]:
# Now it's time to create a percentage for the students who passed both math AND reading!
#Good for them such hardworking students
#Super easy to calculate because we just add up percent passing for math and reading then divide by 2!
overall_passing = student_data[(student_data["reading_score"] >=70) & (student_data["math_score"] >= 70)].count() ["Student ID"]

overall_passing
overall_passing_percent = (overall_passing/total_number_student)*100

overall_passing_percent

65.17232575950983

In [11]:
#Now we have to create a dataframe that will display our results
District_summary_result = pd.DataFrame({
    "Total Unique Schools":[unique_total_school_count],
    "Total Students" : f"{total_number_student:,}",
    "Total Budget" : f"${total:,}" ,
    "Average math score" : f"{averagescore_math:.1f}%" ,
    "Average reading score" : f"{averagescore_reading:.1f}%" ,
    "Percent passing math" : f"{percentpassing_math:.0f}%" ,
    "percent passing reading" : f"{percentpassing_read:.0f}%" ,
    "Overall passing" : f"{overall_passing_percent:.0f}%"
})

District_summary_result

,Total Unique Schools,Total Students,Total Budget,Average math score,Average reading score,Percent passing math,percent passing reading,Overall passing
0,15,"39,170","$24,649,428",79.0%,81.9%,75%,86%,65%

In [12]:
#School Summary
#Perform the necessary calculations and list the following:
#School name
#School type
#Total budget
#Total Students
#Total school budget
#Percent student budget
#Average math score
#Average reading score
# % passing math (the % of students who passed math)
# % passing reading (the % of students who passed reading)
# % overall passing (The % of students who passed both math and reading)
#Once done you can make a dataframe that summarizes the key metrics of each school.

In [13]:
#read the school data so we can use the info to make calculations
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [14]:
#Calculate the school name
school_name = school_data_complete['school_name'].unique()
school_name

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [15]:
school_name = school_data_complete['school_name'].unique()
school_name

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [16]:
#Make a variable for school types
school_type = school_data_complete.set_index(["school_name"])["type"]

school_type

school_name
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
                        ...
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Name: type, Length: 39170, dtype: object

In [17]:
# Calculate the total student count per school
total_students_school = school_data_complete["school_name"].value_counts()

total_students_school

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [18]:
# Calculate the total school budget and per (student)capita spending per school
total_budget_school = school_data_complete["school_name"].value_counts()

total_budget_school

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [19]:
total_students_school = school_data_complete["school_name"].value_counts()
total_students_school

total_budget_school = school_data_complete["school_name"].value_counts()
total_budget_school

budget_per_student = total_budget_school/total_students_school
budget_per_student

Bailey High School       1.0
Johnson High School      1.0
Hernandez High School    1.0
Rodriguez High School    1.0
Figueroa High School     1.0
Huang High School        1.0
Ford High School         1.0
Wilson High School       1.0
Cabrera High School      1.0
Wright High School       1.0
Shelton High School      1.0
Thomas High School       1.0
Griffin High School      1.0
Pena High School         1.0
Holden High School       1.0
Name: school_name, dtype: float64

In [20]:
avg_math_school = school_data_complete.groupby(['school_name', 'type']).mean()['math_score']
avg_math_school

C:\Users\seste\AppData\Local\Temp\ipykernel_18740\3686294085.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg_math_school = school_data_complete.groupby(['school_name', 'type']).mean()['math_score']

school_name            type
Bailey High School     District    77.048432
Cabrera High School    Charter     83.061895
Figueroa High School   District    76.711767
Ford High School       District    77.102592
Griffin High School    Charter     83.351499
Hernandez High School  District    77.289752
Holden High School     Charter     83.803279
Huang High School      District    76.629414
Johnson High School    District    77.072464
Pena High School       Charter     83.839917
Rodriguez High School  District    76.842711
Shelton High School    Charter     83.359455
Thomas High School     Charter     83.418349
Wilson High School     Charter     83.274201
Wright High School     Charter     83.682222
Name: math_score, dtype: float64

In [21]:
avg_read_school = school_data_complete.groupby(['school_name', 'type']).mean()['reading_score']
avg_read_school

C:\Users\seste\AppData\Local\Temp\ipykernel_18740\255488207.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg_read_school = school_data_complete.groupby(['school_name', 'type']).mean()['reading_score']

school_name            type
Bailey High School     District    81.033963
Cabrera High School    Charter     83.975780
Figueroa High School   District    81.158020
Ford High School       District    80.746258
Griffin High School    Charter     83.816757
Hernandez High School  District    80.934412
Holden High School     Charter     83.814988
Huang High School      District    81.182722
Johnson High School    District    80.966394
Pena High School       Charter     84.044699
Rodriguez High School  District    80.744686
Shelton High School    Charter     83.725724
Thomas High School     Charter     83.848930
Wilson High School     Charter     83.989488
Wright High School     Charter     83.955000
Name: reading_score, dtype: float64

In [22]:
student_per_math = school_data_complete[school_data_complete['math_score'] >= 70].count()["Student ID"]
student_per_math
school_per_math = (student_per_math/total_students_school)*100
school_per_math

Bailey High School        590.233119
Johnson High School       616.887209
Hernandez High School     633.656958
Rodriguez High School     734.433608
Figueroa High School      995.930824
Huang High School        1006.856359
Ford High School         1072.289157
Wilson High School       1286.465177
Cabrera High School      1580.731970
Wright High School       1631.666667
Shelton High School      1667.802385
Thomas High School       1796.330275
Griffin High School      2000.681199
Pena High School         3053.014553
Holden High School       6878.220141
Name: school_name, dtype: float64

In [23]:
student_per_read = school_data_complete[school_data_complete["reading_score"] >= 70].count()["Student ID"]
student_per_read
school_per_read = (student_per_read/total_students_school)*100
school_per_read

Bailey High School        675.442122
Johnson High School       705.944129
Hernandez High School     725.134844
Rodriguez High School     840.460115
Figueroa High School     1139.708376
Huang High School        1152.211176
Ford High School         1227.090179
Wilson High School       1472.185721
Cabrera High School      1808.934338
Wright High School       1867.222222
Shelton High School      1908.574673
Thomas High School       2055.657492
Griffin High School      2289.509537
Pena High School         3493.762994
Holden High School       7871.194379
Name: school_name, dtype: float64

In [24]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [25]:
# Use the provided code to calculate the passing rates
school_per_math = student_per_math / total_students_school * 100
school_per_read = student_per_read / total_students_school * 100
overall_passing_rate = school_students_passing_math_and_reading / total_students_school * 100

In [ ]:
# Create a DataFrame called `school_summary_result` with columns for the calculations above.
school_summary_result = pd.DataFrame({
    
        "School Type": school_type,
        "Total Students": total_students_school,
        "Total School Budget": total_budget_school,
        "Per Student Budget": budget_per_student,
        "Average Math Score": avg_math_school,
        "Average Reading Score": avg_read_school,
        "% Passing Math": school_per_math,
        "% Passing Reading": school_per_read,
        "% Overall Passing": overall_passing_rate,
    
})

# Formatting
school_summary_result["Total School Budget"] = school_summary_result_["Total School Budget"].map("${:,.2f}".format)
school_summary_result["Per Student Budget"] = school_summary_result["Per Student Budget"].map("${:,.2f}".format)


school_summary_result

In [ ]:
#student_per_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby(['school_name', 'type']).count()
#school_per_math = (student_per_math['math_score']/total_students_school)*100

In [ ]:
#student_per_read = school_data_complete[school_data_complete["reading_score"] >= 70].groupby(['school_name', 'type']).count()
#school_per_read = (student_per_read['reading_score']/total_students_school)*100

In [ ]:
#overall_passing = student_data[(student_data["reading_score"] >=70) & (student_data["math_score"] >= 70)].count() ["Student ID"]

#overall_passing
#overall_passing_percent = (overall_passing/total_number_student)*100

#overall_passing_percent
#overall_school_pass = school_data_complete[(school_data_complete["

In [ ]:
#Ugh Im exhausted

In [ ]:
#Sort and display the top five schools in overall passing rate
# using ascending = False will sort the values from highest to lowest
Top_5_schools = school_summary_result.sort_values(["percent Overall Passing Rate"], ascending=False)
Top_5_schools.head()

In [ ]:
#Sort and display the five lowest performing schools in overall passing rate so same thing from earlier just reverse
# using ascending = true will sort the values from lowest to highest
#Low_5_schools = school_summary_result.sort_values(["percent Overall Passing Rate"], ascending=True)
#Low_5_schools.head()

In [ ]:
#Math Scores by Grade
# Make calculations to create a dataframe that will list the average math score for each grade level.
#so just get the mean of each grade level math score and make a list
#math_graders = school_data_complete[["school_name", "grade", "math_score"]]
#math_9_graders = math_graders[(math_graders["grade"] == "9th")].groupby(["school_name"]).mean()["math_score"]
#math_10_graders = math_graders[(math_graders["grade"] == "10th")].groupby(["school_name"]).mean()["math_score"]
#math_11_graders = math_graders[(math_graders["grade"] == "11th")].groupby(["school_name"]).mean()["math_score"]
#math_12_graders = math_graders[(math_graders["grade"] == "12th")].groupby(["school_name"]).mean()["math_score"]

#math_by_grade = pd.DataFrame({
#    "9th Grade":math_9_graders,
#    "10th Grade":math_10_graders,
#    "11th Grade":math_11_graders,
#    "12th Grade":math_12_graders,
#})

#Display the dataframe
#math_by_grade

In [ ]:
#Reading Scores by Grade
#So same thing we did for math grades but now we are using the reading 
#read_graders = school_data_complete[["school_name", "grade", "reading_score"]]
#read_9_graders = read_graders[(read_graders["grade"] == "9th")].groupby(["school_name"]).mean()["reading_score"]
#read_10_graders = read_graders[(read_graders["grade"] == "10th")].groupby(["school_name"]).mean()["reading_score"]
#read_11_graders = read_graders[(read_graders["grade"] == "11th")].groupby(["school_name"]).mean()["reading_score"]
#read_12_graders = read_graders[(read_graders["grade"] == "12th")].groupby(["school_name"]).mean()["reading_score"]

#read_by_grade = pd.DataFrame({
#    "9th Grade":read_9_graders,
#    "10th Grade":read_10_graders,
#    "11th Grade":read_11_graders,
#    "12th Grade":read_12_graders,
#})

#Display the dataframe
#read_by_grade

In [ ]:
#Scores by Spending
#Create a table that breaks down school performance based on average spending ranges(per student)
#Create a dataframe that will have the spending summary
#Table must include the following:
#Avergae math score
#Average reading score
# Percent passing math
# Percent passing reading
# Percent overall passing

In [ ]:
# Establish the bins 
#spending_bins = [0, 585, 630, 645, 680]
#labels = ["<$585", "$585-630", "$630-645", "$645-680"]