In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset using merge left join.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
# District Summary
#Perform the necessary calculations and list the following:
#Total number of unique schools
#total students
#Total budget
#Average math score
#Average reading score
# % passing math (the % of students who passed math)
# % passing reading (the % of students who passed reading)
# % overall passing (The % of students who passed both math and reading)
#Then create a high-level snapshot of the district's ket metrics in a data frame.

In [3]:
# Calculate the total number of unique schools, I am going to use the length of an object, as it can return the number of items in a list.
unique_total_school_count = len(school_data_complete["School ID"].unique())
unique_total_school_count

15

In [4]:
# Calculate the total number of students
total_number_student = len(school_data_complete["Student ID"].unique())
total_number_student

39170

In [5]:
# Calculate the total budget
total_budget = school_data_complete["budget"].astype(int)
total_budget = school_data_complete["budget"].unique()

total = sum(total_budget)

In [6]:
# Calculate the average math score
averagescore_math = student_data["math_score"].mean()
averagescore_math

78.98537145774827

In [7]:
# Calculate the average reading score
averagescore_reading = student_data["reading_score"].mean()
averagescore_reading

81.87784018381414

In [8]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
# Make a varaible that gives us the passing math scores (>=70) then multiple that by 100 to give us %
passing_math = student_data[student_data["math_score"] >= 70].count() ["Student ID"]
passing_math
percentpassing_math = (passing_math/total_number_student)*100
percentpassing_math

74.9808526933878

In [9]:
# Calculate the percentage of students who passed reading (reading scores greater than or equal to 70)
# Same thing you did for the math scores
passing_read = student_data[student_data["reading_score"] >= 70].count() ["Student ID"]
passing_read
percentpassing_read = (passing_read/total_number_student)*100
percentpassing_read

85.80546336482001

In [10]:
# Now it's time to create a percentage for the students who passed both math AND reading!
#Good for them such hardworking students
#Super easy to calculate because we just add up percent passing for math and reading then divide by 2!
overall_passing = student_data[(student_data["reading_score"] >=70) & (student_data["math_score"] >= 70)].count() ["Student ID"]

overall_passing
overall_passing_percent = (overall_passing/total_number_student)*100

overall_passing_percent

65.17232575950983

In [11]:
#Now we have to create a dataframe that will display our results
District_summary_result = pd.DataFrame({
    "Total Unique Schools":[unique_total_school_count],
    "Total Students" : f"{total_number_student:,}",
    "Total Budget" : f"${total:,}" ,
    "Average math score" : f"{averagescore_math:.1f}%" ,
    "Average reading score" : f"{averagescore_reading:.1f}%" ,
    "Percent passing math" : f"{percentpassing_math:.0f}%" ,
    "percent passing reading" : f"{percentpassing_read:.0f}%" ,
    "Overall passing" : f"{overall_passing_percent:.0f}%"
})

District_summary_result

,Total Unique Schools,Total Students,Total Budget,Average math score,Average reading score,Percent passing math,percent passing reading,Overall passing
0,15,"39,170","$24,649,428",79.0%,81.9%,75%,86%,65%

In [12]:
#School Summary
#Perform the necessary calculations and list the following:
#School name
#School type
#Total budget
#Total Students
#Total school budget
#Percent student budget
#Average math score
#Average reading score
# % passing math (the % of students who passed math)
# % passing reading (the % of students who passed reading)
# % overall passing (The % of students who passed both math and reading)
#Once done you can make a dataframe that summarizes the key metrics of each school.

In [13]:
#read the school data so we can use the info to make calculations
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [14]:
#Calculate the school name
school_name = school_data_complete['school_name'].unique()
school_name

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [15]:
school_name = school_data_complete["school_name"].unique()
school_name

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [16]:
#Make a variable for school types

school_type = school_data.set_index(["school_name"])["type"]

school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [17]:
# Calculate the total student count per school
total_students_school = school_data_complete["school_name"].value_counts()

total_students_school

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [18]:
# Calculate the total school budget and per (student)capita spending per school
total_budget_school = school_data_complete["school_name"].value_counts()

total_budget_school

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [19]:
total_students_school = school_data_complete["school_name"].value_counts()
total_students_school

total_budget_school = school_data_complete["school_name"].value_counts()
total_budget_school

budget_per_student = total_budget_school/total_students_school
budget_per_student

Bailey High School       1.0
Johnson High School      1.0
Hernandez High School    1.0
Rodriguez High School    1.0
Figueroa High School     1.0
Huang High School        1.0
Ford High School         1.0
Wilson High School       1.0
Cabrera High School      1.0
Wright High School       1.0
Shelton High School      1.0
Thomas High School       1.0
Griffin High School      1.0
Pena High School         1.0
Holden High School       1.0
Name: school_name, dtype: float64

In [20]:
avg_math_school = school_data_complete.groupby(['school_name']).mean()['math_score']
avg_math_school

C:\Users\seste\AppData\Local\Temp\ipykernel_18408\2331806299.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg_math_school = school_data_complete.groupby(['school_name']).mean()['math_score']

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [21]:
avg_read_school = school_data_complete.groupby(['school_name']).mean()['reading_score']
avg_read_school

C:\Users\seste\AppData\Local\Temp\ipykernel_18408\2840870441.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg_read_school = school_data_complete.groupby(['school_name']).mean()['reading_score']

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [22]:
student_per_math = school_data_complete[school_data_complete['math_score'] >= 70].count()["Student ID"]
student_per_math
school_per_math = (student_per_math/total_students_school)*100
school_per_math

Bailey High School        590.233119
Johnson High School       616.887209
Hernandez High School     633.656958
Rodriguez High School     734.433608
Figueroa High School      995.930824
Huang High School        1006.856359
Ford High School         1072.289157
Wilson High School       1286.465177
Cabrera High School      1580.731970
Wright High School       1631.666667
Shelton High School      1667.802385
Thomas High School       1796.330275
Griffin High School      2000.681199
Pena High School         3053.014553
Holden High School       6878.220141
Name: school_name, dtype: float64

In [23]:
student_per_read = school_data_complete[school_data_complete["reading_score"] >= 70].count()["Student ID"]
#student_per_read
school_per_read = (student_per_read/total_students_school)*100
#school_per_read

In [24]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]

school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [25]:
# Use the provided code to calculate the passing rates
school_per_math = student_per_math / total_students_school * 100
school_per_read = student_per_read / total_students_school * 100
overall_passing_rate = school_students_passing_math_and_reading / total_students_school * 100

In [26]:
# Create a DataFrame called `school_summary_result` with columns for the calculations above.


school_summary_result = pd.DataFrame({
#        "School Name": school_name,
        "School Type": school_type,
        "Total Students": total_students_school,
        "Total School Budget": total_budget_school,
        "Per Student Budget": budget_per_student,
        "Average Math Score": avg_math_school,
        "Average Reading Score": avg_read_school,
        "% Passing Math": school_per_math,
        "% Passing Reading": school_per_read ,
        "% Overall Passing": overall_passing_rate,
    
})

# Formatting
school_summary_result["Total School Budget"] = school_summary_result["Total School Budget"].map("${:,.2f}".format)
school_summary_result["Per Student Budget"] = school_summary_result["Per Student Budget"].map("${:,.2f}".format)


school_summary_result

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$4,976.00",$1.00,77.048432,81.033963,590.233119,675.442122,54.642283
Cabrera High School,Charter,1858,"$1,858.00",$1.00,83.061895,83.975780,1580.731970,1808.934338,91.334769
Figueroa High School,District,2949,"$2,949.00",$1.00,76.711767,81.158020,995.930824,1139.708376,53.204476
Ford High School,District,2739,"$2,739.00",$1.00,77.102592,80.746258,1072.289157,1227.090179,54.289887
Griffin High School,Charter,1468,"$1,468.00",$1.00,83.351499,83.816757,2000.681199,2289.509537,90.599455
Hernandez High School,District,4635,"$4,635.00",$1.00,77.289752,80.934412,633.656958,725.134844,53.527508
Holden High School,Charter,427,$427.00,$1.00,83.803279,83.814988,6878.220141,7871.194379,89.227166
Huang High School,District,2917,"$2,917.00",$1.00,76.629414,81.182722,1006.856359,1152.211176,53.513884
Johnson High School,District,4761,"$4,761.00",$1.00,77.072464,80.966394,616.887209,705.944129,53.539172
Pena High School,Charter,962,$962.00,$1.00,83.839917,84.044699,3053.014553,3493.762994,90.540541
Rodriguez High School,District,3999,"$3,999.00",$1.00,76.842711,80.744686,734.433608,840.460115,52.988247
Shelton High School,Charter,1761,"$1,761.00",$1.00,83.359455,83.725724,1667.802385,1908.574673,89.892107
Thomas High School,Charter,1635,"$1,635.00",$1.00,83.418349,83.848930,1796.330275,2055.657492,90.948012
Wilson High School,Charter,2283,"$2,283.00",$1.00,83.274201,83.989488,1286.465177,1472.185721,90.582567
Wright High School,Charter,1800,"$1,800.00",$1.00,83.682222,83.955000,1631.666667,1867.222222,90.333333

In [30]:
#Ugh Im exhausted

In [31]:
#Sort and display the top five schools in overall passing rate
# using ascending = False will sort the values from highest to lowest
Top_5_schools = school_summary_result.sort_values(["% Overall Passing"], ascending=False)
Top_5_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,858.00",$1.00,83.061895,83.975780,1580.731970,1808.934338,91.334769
Thomas High School,Charter,1635,"$1,635.00",$1.00,83.418349,83.848930,1796.330275,2055.657492,90.948012
Griffin High School,Charter,1468,"$1,468.00",$1.00,83.351499,83.816757,2000.681199,2289.509537,90.599455
Wilson High School,Charter,2283,"$2,283.00",$1.00,83.274201,83.989488,1286.465177,1472.185721,90.582567
Pena High School,Charter,962,$962.00,$1.00,83.839917,84.044699,3053.014553,3493.762994,90.540541

In [32]:
#Sort and display the five lowest performing schools in overall passing rate so same thing from earlier just reverse
# using ascending = true will sort the values from lowest to highest
Low_5_schools = school_summary_result.sort_values(["% Overall Passing"], ascending=True)
Low_5_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$3,999.00",$1.00,76.842711,80.744686,734.433608,840.460115,52.988247
Figueroa High School,District,2949,"$2,949.00",$1.00,76.711767,81.158020,995.930824,1139.708376,53.204476
Huang High School,District,2917,"$2,917.00",$1.00,76.629414,81.182722,1006.856359,1152.211176,53.513884
Hernandez High School,District,4635,"$4,635.00",$1.00,77.289752,80.934412,633.656958,725.134844,53.527508
Johnson High School,District,4761,"$4,761.00",$1.00,77.072464,80.966394,616.887209,705.944129,53.539172

In [33]:
#Math Scores by Grade
# Make calculations to create a dataframe that will list the average math score for each grade level.
#so just get the mean of each grade level math score and make a list
math_graders = school_data_complete[["school_name", "grade", "math_score"]]
math_9_graders = math_graders[(math_graders["grade"] == "9th")].groupby(["school_name"]).mean()["math_score"]
math_10_graders = math_graders[(math_graders["grade"] == "10th")].groupby(["school_name"]).mean()["math_score"]
math_11_graders = math_graders[(math_graders["grade"] == "11th")].groupby(["school_name"]).mean()["math_score"]
math_12_graders = math_graders[(math_graders["grade"] == "12th")].groupby(["school_name"]).mean()["math_score"]

math_by_grade = pd.DataFrame({
    "9th Grade":math_9_graders,
    "10th Grade":math_10_graders,
    "11th Grade":math_11_graders,
    "12th Grade":math_12_graders,
})

#Display the dataframe
math_by_grade

C:\Users\seste\AppData\Local\Temp\ipykernel_18408\2102876643.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  math_9_graders = math_graders[(math_graders["grade"] == "9th")].groupby(["school_name"]).mean()["math_score"]
C:\Users\seste\AppData\Local\Temp\ipykernel_18408\2102876643.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  math_10_graders = math_graders[(math_graders["grade"] == "10th")].groupby(["school_name"]).mean()["math_score"]
C:\Users\seste\AppData\Local\Temp\ipykernel_18408\2102876643.py:7: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  math_11_graders = math_graders[(math_graders["grade"] == "11th")].groupby(["school_name"]).mean()["math_score"]
C:\Users\seste\AppData\Local\Temp\ipykernel_18408\2102876643.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  math_12_graders = math_graders[(math_graders["grade"] == "12th")].groupby(["school_name"]).mean()["math_score"]

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School     77.083676   76.996772   77.515588   76.492218
Cabrera High School    83.094697   83.154506   82.765560   83.277487
Figueroa High School   76.403037   76.539974   76.884344   77.151369
Ford High School       77.361345   77.672316   76.918058   76.179963
Griffin High School    82.044010   84.229064   83.842105   83.356164
Hernandez High School  77.438495   77.337408   77.136029   77.186567
Holden High School     83.787402   83.429825   85.000000   82.855422
Huang High School      77.027251   75.908735   76.446602   77.225641
Johnson High School    77.187857   76.691117   77.491653   76.863248
Pena High School       83.625455   83.372000   84.328125   84.121547
Rodriguez High School  76.859966   76.612500   76.395626   77.690748
Shelton High School    83.420755   82.917411   83.383495   83.778976
Thomas High School     83.590022   83.087886   83.498795   83.497041
Wilson High School     83.085578   83.724422   83.195326   83.035794
Wright High School     83.264706   84.010288   83.836782   83.644986

In [34]:
#Reading Scores by Grade
#So same thing we did for math grades but now we are using the reading 
read_graders = school_data_complete[["school_name", "grade", "reading_score"]]
read_9_graders = read_graders[(read_graders["grade"] == "9th")].groupby(["school_name"]).mean()["reading_score"]
read_10_graders = read_graders[(read_graders["grade"] == "10th")].groupby(["school_name"]).mean()["reading_score"]
read_11_graders = read_graders[(read_graders["grade"] == "11th")].groupby(["school_name"]).mean()["reading_score"]
read_12_graders = read_graders[(read_graders["grade"] == "12th")].groupby(["school_name"]).mean()["reading_score"]

read_by_grade = pd.DataFrame({
    "9th Grade":read_9_graders,
    "10th Grade":read_10_graders,
    "11th Grade":read_11_graders,
    "12th Grade":read_12_graders,
})

#Display the dataframe
read_by_grade

C:\Users\seste\AppData\Local\Temp\ipykernel_18408\2691612812.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  read_9_graders = read_graders[(read_graders["grade"] == "9th")].groupby(["school_name"]).mean()["reading_score"]
C:\Users\seste\AppData\Local\Temp\ipykernel_18408\2691612812.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  read_10_graders = read_graders[(read_graders["grade"] == "10th")].groupby(["school_name"]).mean()["reading_score"]
C:\Users\seste\AppData\Local\Temp\ipykernel_18408\2691612812.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  read_11_graders = read_graders[(read_graders["grade"] == "11th")].groupby(["school_name"]).mean()["reading_score"]
C:\Users\seste\AppData\Local\Temp\ipykernel_18408\2691612812.py:7: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  read_12_graders = read_graders[(read_graders["grade"] == "12th")].groupby(["school_name"]).mean()["reading_score"]

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School     81.303155   80.907183   80.945643   80.912451
Cabrera High School    83.676136   84.253219   83.788382   84.287958
Figueroa High School   81.198598   81.408912   80.640339   81.384863
Ford High School       80.632653   81.262712   80.403642   80.662338
Griffin High School    83.369193   83.706897   84.288089   84.013699
Hernandez High School  80.866860   80.660147   81.396140   80.857143
Holden High School     83.677165   83.324561   83.815534   84.698795
Huang High School      81.290284   81.512386   81.417476   80.305983
Johnson High School    81.260714   80.773431   80.616027   81.227564
Pena High School       83.807273   83.612000   84.335938   84.591160
Rodriguez High School  80.993127   80.629808   80.864811   80.376426
Shelton High School    84.122642   83.441964   84.373786   82.781671
Thomas High School     83.728850   84.254157   83.585542   83.831361
Wilson High School     83.939778   84.021452   83.764608   84.317673
Wright High School     83.833333   83.812757   84.156322   84.073171

In [35]:
#Scores by Spending
#Create a table that breaks down school performance based on average spending ranges(per student)
#Create a dataframe that will have the spending summary
#Table must include the following:
#Avergae math score
#Average reading score
# Percent passing math
# Percent passing reading
# Percent overall passing

In [36]:
# Establish the bins 
#spending_bins = [0, 585, 630, 645, 680]
#labels = ["<$585", "$585-630", "$630-645", "$645-680"]